<app-locale-switcher></app-locale-switcher>

<main>
  <section class="image-container">
    <img alt="imagem de herói" i18n-alt class="hero-image" src="assets/undraw_order_confirmed_re_g0if.svg">
  </section>
  <section class="shipping-details">
    <h2 i18n>
      Seu pedido está a caminho!
      <img alt="ícone de envio" i18n-alt class="shipping-icon" src="assets/noun-shipping-4326216-63D1FF.png">
    </h2>
    <p i18n>
      Obrigado por comprar conosco e seu pedido foi processado.
    </p>
    <table>
      <tr>
        <th i18n>Item</th>
        <th i18n>Qtd</th>
        <th i18n>Data</th>
        <th i18n>Valor</th>
      </tr>
      <tr>
        <td>XYZ</td>
        <td>{{1 | number}}</td>
        <td>{{"2022-02-01" | date:'shortDate' }}</td>
        <td>{{129 | currency}}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td i18n class="total-amount-label">Valor Total</td>
        <td class="total-amount">{{129 | currency}}</td>
      </tr>
    </table>
  </section>
</main>

<app-locale-switcher [footer]="true"></app-locale-switcher>